@import './variables.scss';

.breadcrumb-banner {
    .breadcrumb-title {
        font-family: $font-family-heading;
        font-size: 2.25rem;
        letter-spacing: -0.5px;
    }

    .custom-breadcrumb {
        .breadcrumb-item {
            font-family: $font-family-base;
            font-size: $font-size-base;
            letter-spacing: -0.5px;

            a,
            a.text-dark {
                color: $gray-900 !important;
                text-decoration: none;
                transition: $transition-base;
            }

            a:hover,
            a.text-dark:hover {
                color: $primary !important;

            }

            // Bold active item label explicitly
            &.active {
                font-weight: $font-weight-bold;
                color: $gray-900;
            }

            // Custom separator icon
            +.breadcrumb-item::before {
                content: ">";
                color: $gray-900;
                text-decoration: none;
                font-weight: $font-weight-medium;
            }
        }
    }
}